/* 清空默认样式 */
* {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: #000;
    text-decoration: none;
}

img{
	vertical-align: middle;
}

h1 {font-size: 24px;}
h2 {font-size: 20px;}
h3 {font-size: 18px;}
h4 {font-size: 16px;}
h5 {font-size: 14px;}
h6 {font-size: 12px;}
h1, h2, h3, h4, h5, h6{font-weight: normal;}
i, em{ font-style: normal;}


input,button{
	border: 0;
	outline: 0;
	background: none;
}


body{
	background: #E3E3E3;
}

header {
    background-color: #fff;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

/* 定义状态栏 */
.hd-top {
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    /* background-image: -webkit-linear-gradient(top, #037ecc, #1bbae2); */
    background: url("../img/1px_03.gif") repeat-x;
}

.hd-top .inner {
    display: flex;
    justify-content: flex-end;

    /* align-items: center; */
}

.hd-top .inner ul {
    display: flex;
    justify-content: flex-end;
}

.hd-top .inner li {
    margin-left: 10px;
}

.hd-top .inner a{
    color: #fff;
}

.hd-top .inner .login-register {
    margin-left: 46px;
}

.hd-top .login{
	padding-left: 30px;
    /* 缩小图片 */
	background: url("../img/person_outline.png")  no-repeat 0 center/20px;
}

/* 导航部分 */
.hd-bottom {
    height: 60px;
    line-height: 60px;
    /* background-color: pink; */
    display: flex;
    align-items: center;
}

.hd-bottom .hd-logo a{
    display: flex;
    width: 120px;
    height: 60px;
    text-indent: -99999px;
    overflow: hidden;
    background: url("../img/5.png") no-repeat;
}

.hd-bottom .hd-nav {
    display: flex;
    /* background-color: #000; */
    /* 占满剩余空间,将input挤到后面 */
    flex: 1;
}

.hd-bottom .hd-nav a {
    color: gray;;
    padding: 22px 10px 18px;;
    margin-left: 40px;
}

.hd-bottom .hd-nav li:first-of-type a {
	padding: 22px 10px 16px;
	border-bottom: solid 4px deepskyblue;
}

.hd-bottom .hd-nav a:hover {
	padding: 22px 10px 16px;
	border-bottom: solid 4px deepskyblue;
}

.hd-bottom .hd-nav .second-list {
    height: 200px;
	width: 100%;
	background: deepskyblue;
	position: absolute;
	left: 0;
	z-index: 1000;
    display: none;
}

.hd-bottom .hd-nav li:hover .second-list{
	display: block;
}

.hd-bottom .hd-search {
    position: relative;
}


.hd-bottom .hd-search input {
    /* padding: ; */
    width: 240px;
    height: 32px;

    margin-top: 15px;
	padding-left: 14px;
	padding-right: 36px;

    /* 外边框 */
    outline: none;
    border-radius: 16px;
    background: url("../img/search.png") 95% center/16px 18px no-repeat;
    border: 1px solid #999;
}


/* 做遮盖,子绝父项 */
.hd-bottom .hd-search span {
    position: absolute;
    right: 36px;
	top: 1px;
}

.hd-bottom .hd-search a {
    padding: 4px;
	font-size: 12px;
	border-radius: 4px;
	background: #E3E3E3;
}

/* 左右导航 */
.banner .container{
    position: relative;
    height: 600px;
    background: url("../img/82f20b34217e796a37a15cf6b2945636.jpg") no-repeat center top;
}

.banner .container .arrow {
    position: absolute;
    width: 60px;
    height: 60px;
    color: #fff;
    background: rgba(0, 0, 0, 0.2) url("../img/chevron-left.png") no-repeat center ;
    top: 50%;
    /* left: 30px; */
}

.banner .container .arrow2 {
    position: absolute;
    width: 60px;
    height: 60px;
    color: #fff;
    background: rgba(0, 0, 0, 0.2) url("../img/chevron-right.png") no-repeat center ;
    top: 50%;
    right: 0;;
    /* left: 30px; */
}

.slide-nav {
    position: absolute;
    bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
}

/* 底部导航 */
.slide-nav li {
    /* 产生bfc */
    display:inline-block;
	height: 4px;
	width: 50px;
	margin-left: 10px;
	background: gray;
}

.slide-nav .fisrt-nav {
	margin-left: 0;
    background: blue;
}

.slide-nav li:hover {
	background:  blue;
}

.honor20 {
    padding: 50px 0 20px;
    background-color: #fff;
}

.honor20 h2 {
	font-size: 34px;
	font-weight: 500;
	text-align: center;
}

.phone-slt,
.honor20-show {
    width: 820px;
    margin: auto;
}

.phone-slt {
    margin-top: 46px;
	text-align: right;
}

.phone-slt select{
	height: 40px;
	width: 150px;
	margin-left: 20px;
	color: gray;
	/*设置文字与文字之间的距离*/
	letter-spacing: 2px;
	border-radius: 4px;
}

.honor20-show {
    /* background-color: pink; */
    margin-top: 70px;
    display: flex;
    justify-content: space-between;

}

.right-des li:first-of-type{
	margin-top: 96px;
}

.right-des li:first-of-type img{
	height: 34px;
}

.right-des li:nth-of-type(2){
	margin-top: 20px;
}

.right-des li:nth-of-type(2) img{
	height: 24px;
}

.text-set{
	font-size: 14px;
	line-height: 34px;
}

.right-des li:last-of-type{
	margin-top: 54px;
}


.right-des button{
	width: 132px;
	height: 38px;
	border: solid 1px gray;
	border-radius: 6px;
}

.right-des button:first-of-type{
	margin-right: 15px;
	color: white;
	background: #E5004F;
}


/* recommend 部分 */
.recommend{
	margin-top: 10px;
	background: #E3E3E3;
	/*border: solid 1px;*/
}

.h3-tit{
	padding: 20px 0;
	font-size: 24px;
	font-weight: 500;
}

h3.h3-tit:before{
	display: inline-block;
	height: 30px;
	width: 3px;
	margin-right: 6px;
	content: "";
	background: #00B5E2;
	vertical-align: middle;
}


h3.h3-tit a{
	padding-top: 4px;
	font-size: 16px;
	color: gray;
    float: right;
}

.items-show {
    display: flex;
    justify-content: space-between;
}

.items-show figure {
	box-sizing: border-box;
	width: 284.25px;
	height: 370px;
	padding-top: 32px;
	text-align: center;
	background: white;	
	position: relative;
}

.items-show h4 {
    font-size: 18px;
	font-weight: 600;
}

.items-show p {
	margin-top: 10px;
	font-size: 14px;
}

.items-show img {
	margin-top: 26px;
}

.buy-com {
	margin-top: 32px;
}

.buy-com button{
	width: 110px;
	height: 30px;
	border-radius: 6px;
	border: solid 1px gray;
	cursor: pointer;
}

.buy-com button:first-of-type{
	margin-right: 10px;
	color: white;
	background: #E5004F;
}

.items-show i.tip{
	height: 40px;
	width: 40px;
	color: white;
	font-size: 12px;
	line-height: 40px;
	text-align: center;
	background: cornflowerblue;
	border-radius: 50%;
	
	position: absolute;
	top: 84px;
	right: 20px;
}

.items-show figure:nth-of-type(2) .tip{
	background: #E5004F;
}

/* 商城链接部分 */
.vmall-link {
    position: relative;
    background: url("../img/index-flagship.jpg") no-repeat;
    height: 480px;
    margin-top: 15px;
}

.vmall-link figure{
	position: absolute;
	top: 50%;
	left: 242px;
	transform: translateY(-50%);
}

a.a-set{
	display: block;
	width: 175px;
	height: 43px;
	margin:30px auto 0;
	color: white;
	font-size: 16px;
	line-height: 38px;
	text-align: center;
	background: url("../img/btn-pink.png") no-repeat;
}

.other-mall{
	width: 250px;
	height: 368px;
	position: absolute;
	top: 54px;
	right: 60px;	
}

.other-mall hgroup{
	padding-left: 20px;
	color: white;
}

.other-mall h3{
	font-size: 20px;
}

.other-mall h4{
	margin-top: 22px;
	font-size: 14px;
}

.mall-items{
	margin-top: 48px;
}

.mall-items .ml37{
	margin-left: 37px;
}

.mall-items .mt54{
	margin-top: 54px;
}

/* 最新消息部分 */
.msg-items {
    display: flex;
    justify-content: space-between;
}
.msg-items figure{
    background-color: #fff;
}

.msg-items figcaption{
	padding-left: 10px;
	background: white;
}

.msg-items p{
	padding: 10px 0;
}

.msg-items time{
	display: inline-block;
	padding: 4px 0;
}

.msg-items time{
	font-size: 14px;
	color: gray;
}

/* 服务中心部分 */
.server{
	height: 413px;
	margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.server div{
	height: 100%;
	width: 50%;
	/* float: left; */
}

.index-block1{
	background: url("../img/index-block1.jpg") no-repeat;
}


.index-block2{
	background: url("../img/index-block2.jpg") no-repeat;
}

.server hgroup{
	color: white;
	text-align: center;
}

.server h2{
	margin-top: 136px;
	font-size: 30px;
}

.server h4{
	margin-top: 32px;
	font-size: 16px;
}

footer {
    margin-top: 90px;
    background-color: #fff;   
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

footer .channel-floor{
    height: 82px;
    background-color: pink;
}

footer .slogon-container{
    height: 317px;
    background-color: plum;
}

footer .footer-container{
    height: 95px;
    background-color: purple;
}