.content {
    width: 558px;
    height: 36px;
    font-size: 14px;
    font-weight: lighter;
    color: #888888;
    text-indent: 2em;
    border: 1px solid rgb(229, 229, 229);
    margin: 0px 27px 16px 2px;
    padding: 15px
}