* {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

html {
    font-size: 0.3125vw;
}

/* app区域 */
.app {
    display: flex;
    align-items: center;
    height: 60rem;
}

.app span {
    display: block;
    width: 23rem;
    height: 23rem;
    margin: 12rem 15rem;
    background: url("../img/icon.png") no-repeat;
    background-size: 104rem 327.5rem;
    background-position: -70rem -229rem;
}

.app .container{
    flex: 1;
}

.app .btn {
    margin: 0 15rem;
    height: 28rem;
    width: 80rem;
    color: #fff;
    line-height: 28rem;
    text-align: center;
    background-color:#3a99f6;
    border-radius: 14rem;
}


/* banner区域 */
.banner {
    height: 150rem;
    background: url("../img/pic.jpg") no-repeat center top;
    background-size: cover;
    position: relative;
}

.banner .search {
    position: absolute;
    top: 8rem;
    left: 12rem;
    right: 50rem;
    display: flex;
}

.banner .search input {
    height: 28rem;
    flex: 1;
    line-height: 28rem;
    font-size: 12rem;
    border: none;
    border-radius: 14rem;
    display: block;
    padding-left: 35rem;
}

.banner .search .icon {
    position: absolute;
    width: 16rem;
    height: 16rem;
    background-color: pink;
    top: 6rem;
    left: 15rem;
    background: url("../img/icon.png") no-repeat;
    background-size: 104rem 327.5rem;
    background-position: -60rem -278rem;
}

.banner .user {
    position: absolute;
    top: 6rem;
    right: 12rem;
    color: #fff;
    font-size: 12rem;
    text-align: center;
}

.banner .user span {
    width: 18rem;
    height: 18rem;
    display: block;
    background: url("../img/icon.png") no-repeat;
    background-size: 104rem 327.5rem;
    background-position: -59rem -310rem;
}
